:root {
    --other-content-height: 620px;
}

body {
    padding: 1rem 2rem 0;
}

body > main {
    padding-bottom: 0;
}
h1 {
    --typography-spacing-vertical: 1rem;
}

body > main {
    --block-spacing-vertical: 20px;
}

.import-container {
    grid-column: 1 / -1;
}

[name="show-import"] {
    font-size: .9rem;
    padding: .25rem;
    width: 16rem;
}

.import-container:not(.import-container--collapsed) [name="show-import"] {
    display: none;
}

.import-container--collapsed > :not([name="show-import"]) {
    display: none;
}

.import-container > :not([name="show-import"]) {
    align-self: end;
    margin: 0;
}

.import-container > :nth-child(2) {
    grid-column: 1 / span 8;
}

form {
    margin-bottom: 0;
}

.site-content {
    font-family: monospace;
    font-size: .8rem;
    height: max(calc(100vh - var(--other-content-height)), 300px);
}

.output {
    font-size: .75rem;
    height: 100px;
}

.preview {
    --border-color: var(--form-element-border-color);
    background: #efefef;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    height: max(calc(100vh - var(--other-content-height)), 450px);
    margin-top: calc(var(--spacing) * .25);
    width: 100%;
}

@media screen and (max-width: 480px) {
    body {
        padding: 1rem;
    }

    h1 {
        --font-size: 1.6rem;
    }
}
